    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;700&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Noto Sans', sans-serif;
    }

    body {
        background-color: #131722;
        color: white;
    }

    .banner {
        width: 100%;
        background-color: #262b3a;
        margin: 0px;
    }

    .banner button {
        padding: 20px;
        font-size: 10px;
        width: 10rem;
    }

    .banner #watch {
        background-color: #24baef;
        border: none;
    }

    .banner p {
        font-size: 15px;
    }

    .banner h1,
    .banner button {
        font-weight: bold;
    }

    .filtro button {
        background-color: transparent;
        border: none;
        color: white;
    }

    .filtro button:hover {
        background-color: transparent;
        color: #24baef !important;
    }

    .filtro button:focus {
        background-color: transparent;
        color: #24baef !important;
    }

    .control button {
        background-color: transparent;
        border: white solid 1px;
        border-radius: 100%;
        color: white;
        margin-right: 1rem;
    }

    .card {
        width: 7rem !important;
        font-size: 10px !important;
    }

    .card h5 {
        font-size: 14px !important;
    }

    .comedy {
        background-color: #0f131d;
    }

    @media screen and (max-width:820px) {
        .banner{
            margin: 0px !important;
        }

        #a {
            margin: 0px !important;
        }

        #b {
            display: none;
        }

        .banner button {
            width: 8rem;
        }

        .banner p {
            width: 50% !important;
        }

        .filtro button {
            margin: 0px !important;
        }

        .cont {
            margin: 3px;
            padding: 0px !important;
            display: block;
        }

        .carrusel {
            display: block !important;
        }

        #part1,
        #part2,
        #part11,
        #part22 {
            margin: 0px !important;
        }

        .control {
            display: block !important;
        }

        .card {
            width: 5.7rem !important;
            font-size: 10px !important;
        }

        .card h5 {
            font-size: 14px !important;
        }

    }